/* the overall layout of the recipe card */
.card {
    display: inline-flex;
    height: 1236px;
    padding: 80px 120px;
    align-items: flex-start;
    gap: 60px;

    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 1563px;
    height: 1208px;
}

.component {
    display: flex;
    align-items: flex-start;
    gap: 160px;
}

/* how to crop image in css */
.imgContainer {
    width: 724px; /* Adjust the desired width of the container */
    height: 1208px; /* Adjust the desired height of the container */
    overflow: hidden;
    position: relative;
  }
  
  .imgCrop {
    width: 100%; /* Use 100% width and height to cover the container */
    height: 100%;
    overflow: hidden;
  }
  
  .imgCrop img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Crop and cover the entire container */
    object-position: center center; /* Center the cropped portion */
  }

h1 {
    width: 1563px;
    height: 120px;
    flex-shrink: 0;
    color: #000;
    font-family: Croissant One;
    font-size: 75px;
    font-style: regular;
    font-weight: 700;
    line-height: normal;
}

h2 {
    color: #F6982D;
    font-family: Croissant One;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.headFrame {
    height: 110px;
}

#titleFrame {
    display: flex;
    width: 1563px;
    height: 160px;
    align-items: flex-start;
    border-bottom: 8px solid #F6982D;
}

#ingre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
}

#instru {
    display: flex;
    /* height: 780px; */
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
}

p {
    color: #000;
    font-family: Roboto;
    font-size: 42px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#desFrame {
    width: 1563px;
    height: 120px;
    flex-shrink: 0;
}

ul {
    color: #000;

    /* Body */
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

ol {
    color: #000;

    /* Body */
    font-family:Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

#ingreLi {
    display: flex;
    align-items: flex-start;
    gap: 97px;
}

#instruLi {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}