@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

/* title */
.title {
    display: flex;
    height: 106px;
    padding: 3px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;

    border-top: 1px solid var(--lines, #000);
    border-bottom: 1px solid var(--lines, #000);    
}

input[name = "my-input"], textarea {
    font-family: 'Michroma', sans-serif;
    font-size: 60px;
}

input[name="my-input"] {
    width: 1280px;
    margin: 8px 0;
    /* box-sizing: border-box; */
    border: none;
    outline: none;
    background-color: #D9D9D9;
    color: black;
    /* font-family: 'Michroma', sans-serif; */
}



