/* the overall layout of the recipe card */
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Open+Sans:wght@300;400&display=swap');



body {
    font-family: 'Space Mono';
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    max-width: 100%;

    /* border-radius: 20px;
    border: 2px solid #000; */

    background: #EBEBEB;
    margin-bottom: 0.3rem;
    gap: 24px;
}

.header_img {
    width: max-content;
    flex-shrink: 0;
}

.recipe_img {
    width: 30%;
    height: auto;
    object-fit: cover;
}
  
.recipe_info {
    margin-left: 1.5rem;
}
  
.recipe_title,
.list_title {
    font-family: 'DM Serif Display';
    font-weight: 500;
}
  
.recipe_title {
    margin: 1rem 0;
    font-size: 2.5rem;
    border-bottom: 0.2rem solid #FF6740;
}
  
.list_title {
    margin: 0.5rem 0;
    font-size: 1.625rem;
    color: #FF6740;
}
  
.recipe_details {
    display: flex;
    justify-content: space-between;
    margin-left: 1.5rem;
}
  
.ingredients_list {
    width: 40%;
}
  
.ingredients_list ul {
    list-style-type: none;
    padding-left: 0;
}
  
.list_item {
    display: flex;
    margin-bottom: 0.75rem;
  
    & span {
      display: block;
    }
  
    & .measure {
      width: 25%;
      margin-right: 2rem;
    }
}
  
.list_item {
    margin-bottom: 0.75rem;
}
  
.instructions_list {
    width: 55%;
  
    /* & ol {
      padding-left: 1.25rem;
      list-style-type: decimal;
    } */
}

.ordered {
    padding-left: 1.25rem;
    list-style-type: lower-alpha;
    /* font-size: large; */
}

/* buttons */
.ratings_wrapper {
    /* position: relative;
    bottom: 10px;*/
    display: flex; 
    flex-direction: row;
    justify-content: flex;
    align-items: center;
}
.heart_frame{
    width: 120px;
    display: flex;
    flex-direction: row;
}
.heart {
    color: #FF6740;
    fill: #FF6740;
    /* stroke: red; */
}

.button {
    background-color: black;
    color: #FF6740;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    font-size: larger;
    cursor: pointer;
    
    border:none;
}

/* divide the recipe card into two parts */
.upper {
    display: flex;
    flex-direction: row;
    align-items: center;
} 